PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
MONGODB_URI=MONGODB_URI=mongodb+srv://ranter:620Ranter@ranter.4go9cn6.mongodb.net/?appName=ranter
CLOUDINARY_CLOUD_NAME=dv1u3a5fu
CLOUDINARY_API_KEY=731627638595454
CLOUDINARY_API_SECRET=eMcf9B1kB3D32iCPqlf5FadOziI